<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.ukki.qr.model.dao.QrMapper">

    <select id="resStoreUserName">
        SELECT
        c.USER_ID
        FROM TBL_RESERVATION a
        LEFT JOIN TBL_STORE b ON a.STORE_NO = b.STORE_NO
        LEFT JOIN TBL_USER c ON b.USER_NO = c.USER_NO
        WHERE RES_NO = #{resNo}
    </select>

    <update id="editQrConfirmRes">
        UPDATE TBL_RESERVATION SET
        QR_CONFIRM = true,
        QR = 'expired'
        WHERE RES_NO = #{resNo}

    </update>
    
    <select id="getLastReservationNo" resultType="Integer">
        SELECT COALESCE(
        (
            SELECT MAX(max_res_no)
            FROM (
                SELECT MAX(RES_NO) as max_res_no FROM TBL_RESERVATION
                UNION ALL
                SELECT MAX(RES_NO) as max_res_no FROM TBL_END_RES
            ) combined
        ), 
        0
    ) as last_res_no
    </select>


    <select id="searchQr" resultType="String">
        SELECT QR FROM TBL_RESERVATION WHERE RES_NO = #{resNo}
    </select>

    <insert id="moveResToEndRes">
        INSERT INTO TBL_END_RES (
            RES_NO, 
            USER_NO, 
            STORE_NO, 
            RES_DATE, 
            RES_TIME,  
            IS_RANDOM,
            QR, 
            QR_CONFIRM
        )
        SELECT 
            RES_NO,
            USER_NO,
            STORE_NO,
            RES_DATE,
            RES_TIME,
            IS_RANDOM,
            QR,
            QR_CONFIRM
        FROM TBL_RESERVATION

        WHERE RES_NO = #{resNo};
    </insert>

    <delete id="deleteResToEndRes">
        DELETE FROM TBL_RESERVATION
        WHERE RES_NO = #{resNo}
    </delete>
</mapper>