<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.ukki.qr.model.dao.QrMapper">
    <resultMap id="qrConfirm" type="com.ohgiraffers.ukki.qr.model.dto.QrConfirmDTO">
        <id property="reservationNo" column="RES_NO"/>
        <result property="storeNo" column="STORE_NO"/>
    </resultMap>

    <select id="qrConfirmation" resultMap="qrConfirm">
        SELECT
            RES_NO,
            STORE_NO
        FROM TBL_RESERVATION
        WHERE QR = #{qr}
    </select>

    <update id="qrConfirmSuccess">
        UPDATE TBL_RESERVATION
        SET QR_CONFIRM = true
        WHERE QR = #{qr}
    </update>
</mapper>