<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.ukki.admin.store.model.dao.AdminStoreMapper">
    <resultMap id="storeListResultMap" type="com.ohgiraffers.ukki.admin.store.model.dto.AdminStoreListDTO">
        <id property="storeNo" column="STORE_NO"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="storeCategory" column="CATEGORY_NAME"/>
        <result property="storeAddress" column="STORE_ADDRESS"/>
        <result property="storeRegistDate" column="STORE_REGIST_DATE"/>
    </resultMap>

    <resultMap id="storeInfoResultMap" type="com.ohgiraffers.ukki.admin.store.model.dto.AdminStoreInfoDTO">
        <id property="storeNo" column="STORE_NO"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="storeDes" column="STORE_DES"/>
        <result property="storeAddress" column="STORE_ADDRESS"/>
        <result property="latitude" column="LATITUDE"/>
        <result property="longitude" column="LONGITUDE"/>
        <result property="storeProfile" column="STORE_PROFILE"/>
        <result property="storeMenu" column="STORE_MENU"/>
        <result property="storeCategoryNo" column="STORE_CATEGORY_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="posNumber" column="POS_NUMBER"/>
        <result property="storeRegistDate" column="STORE_REGIST_DATE"/>
    </resultMap>

    <resultMap id="month" type="com.ohgiraffers.ukki.admin.store.model.dto.MonthlyRegistStoreDTO">
        <result property="year" column="YEAR"/>
        <result property="month" column="MON"/>
        <result property="registStore" column="value"/>
    </resultMap>


    <resultMap id="keywordResultMap" type="com.ohgiraffers.ukki.admin.store.model.dto.KeywordDTO">
        <id property="storeNo" column="STORE_NO"/>
        <result property="keyword1" column="KEYWORD1"/>
        <result property="keyword2" column="KEYWORD2"/>
        <result property="keyword3" column="KEYWORD3"/>
        <result property="keyword4" column="KEYWORD4"/>
        <result property="keyword5" column="KEYWORD5"/>
        <result property="keyword6" column="KEYWORD6"/>
    </resultMap>

    <resultMap id="operationResultMap" type="com.ohgiraffers.ukki.admin.store.model.dto.OperationDTO">
        <id property="storeNo" column="STORE_NO"/>
        <result property="monday" column="MONDAY"/>
        <result property="tuesday" column="TUESDAY"/>
        <result property="wednesday" column="WEDNESDAY"/>
        <result property="thursday" column="THURSDAY"/>
        <result property="friday" column="FRIDAY"/>
        <result property="saturday" column="SATURDAY"/>
        <result property="sunday" column="SUNDAY"/>
        <result property="breakTime" column="BREAK_TIME"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="com.ohgiraffers.ukki.admin.store.model.dto.CategoryDTO">
        <id property="categoryNo" column="CATEGORY_NO"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
    </resultMap>


    <select id="monthlyRegistStore" resultMap="month">
        SELECT
        YEAR(STORE_REGIST_DATE) AS YEAR,
        MONTH(STORE_REGIST_DATE) AS MON,
        COUNT(*) AS value
        FROM
        tbl_store
        GROUP BY
        YEAR, MON
        ORDER BY
        YEAR, MON;
    </select>

    <select id="totalRegistStore" resultType="int">
        SELECT
        COUNT(*)
        FROM TBL_STORE;
    </select>

    <select id="searchBy" resultMap="storeListResultMap" parameterType="map">
        SELECT
        a.STORE_NO,
        a.STORE_NAME,
        b.CATEGORY_NAME,
        a.STORE_ADDRESS,
        a.STORE_REGIST_DATE
        FROM TBL_STORE a
        LEFT JOIN TBL_STORE_CATEGORY b ON a.STORE_CATEGORY_NO = b.CATEGORY_NO
        <where>
            <if test="category != null and word != null">
                <choose>
                    <when test='category == "CATEGORY_NAME"'>
                        b.${category} LIKE CONCAT('%', #{word}, '%')
                    </when>
                    <otherwise>
                        a.${category} LIKE CONCAT('%', #{word}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="category == null and word != null">
                CONCAT(a.STORE_NO, ' ', a.STORE_NAME, ' ', b.CATEGORY_NAME, ' ', a.STORE_ADDRESS, ' ', a.STORE_REGIST_DATE) LIKE CONCAT('%', #{word}, '%')
            </if>
        </where>
        ORDER BY a.STORE_REGIST_DATE;
    </select>

    <select id="searchStoreInfo" resultMap="storeInfoResultMap">
        SELECT
        STORE_NO,
        STORE_NAME,
        STORE_DES,
        LATITUDE,
        LONGITUDE,
        STORE_PROFILE,
        STORE_MENU,
        POS_NUMBER,
        STORE_CATEGORY_NO,
        USER_NO,
        STORE_ADDRESS,
        STORE_REGIST_DATE
        FROM TBL_STORE
        WHERE STORE_NO = #{storeNo}
    </select>

    <select id="getKeyword" resultMap="keywordResultMap">
        SELECT
        STORE_NO
        , KEYWORD1
        , KEYWORD2
        , KEYWORD3
        , KEYWORD4
        , KEYWORD5
        , KEYWORD6
        FROM TBL_KEYWORD
        WHERE STORE_NO = #{storeNo}
    </select>

    <select id="getOperation" resultMap="operationResultMap">
        SELECT
        *
        FROM TBL_OPERATION
        WHERE STORE_NO = #{storeNo}
    </select>

    <select id="getCategory" resultMap="categoryResultMap">
        SELECT
        *
        FROM TBL_STORE_CATEGORY
    </select>

    <update id="editOperationTime" parameterType="com.ohgiraffers.ukki.admin.store.model.dto.OperationDTO">
        UPDATE TBL_OPERATION
        <set>
            <if test="monday != null">MONDAY = #{monday},</if>
            <if test="tuesday != null">TUESDAY = #{tuesday},</if>
            <if test="wednesday != null">WEDNESDAY = #{wednesday},</if>
            <if test="thursday != null">THURSDAY = #{thursday},</if>
            <if test="friday != null">FRIDAY = #{friday},</if>
            <if test="saturday != null">SATURDAY = #{saturday},</if>
            <if test="sunday != null">SUNDAY = #{sunday},</if>
            <if test="breakTime != null">BREAK_TIME = #{breakTime},</if>
        </set>
        WHERE STORE_NO = #{storeNo}
    </update>

    <update id="editKeyword" parameterType="com.ohgiraffers.ukki.admin.store.model.dto.KeywordDTO">
        UPDATE TBL_KEYWORD
        <set>
            <if test="keyword1 != null">KEYWORD1 = #{keyword1},</if>
            <if test="keyword2 != null">KEYWORD2 = #{keyword2},</if>
            <if test="keyword3 != null">KEYWORD3 = #{keyword3},</if>
            <if test="keyword4 != null">KEYWORD4 = #{keyword4},</if>
            <if test="keyword5 != null">KEYWORD5 = #{keyword5},</if>
            <if test="keyword6 != null">KEYWORD6 = #{keyword6},</if>
        </set>
        WHERE STORE_NO = #{storeNo}
    </update>

    <update id="editStore" parameterType="com.ohgiraffers.ukki.admin.store.model.dto.AdminStoreInfoDTO">
        UPDATE TBL_STORE
        <set>
            <if test="storeName != null">STORE_NAME = #{storeName},</if>
            <if test="storeDes != null">STORE_DES = #{storeDes},</if>
            <if test="storeAddress != null">STORE_ADDRESS = #{storeAddress},</if>
            <if test="latitude != null">LATITUDE = #{latitude},</if>
            <if test="longitude != null">LONGITUDE = #{longitude},</if>
            <if test="storeProfile != null">STORE_PROFILE = #{storeProfile},</if>
            <if test="storeMenu != null">STORE_MENU = #{storeMenu},</if>
            <if test="storeCategoryNo != null">STORE_CATEGORY_NO = #{storeCategoryNo},</if>
            <if test="posNumber != null">POS_NUMBER = #{posNumber},</if>
        </set>
        WHERE STORE_NO = #{storeNo}
    </update>

    <update id="editBanner" parameterType="com.ohgiraffers.ukki.admin.store.model.dto.BannerDTO">
        UPDATE TBL_BANNER
        <set>
            <if test="banner1 != null">BANNER1 = #{banner1},</if>
            <if test="banner1 == null">BANNER1 = NULL,</if>
            <if test="banner2 != null">BANNER2 = #{banner2},</if>
            <if test="banner2 == null">BANNER2 = NULL,</if>
            <if test="banner3 != null">BANNER3 = #{banner3},</if>
            <if test="banner3 == null">BANNER3 = NULL,</if>
            <if test="banner4 != null">BANNER4 = #{banner4},</if>
            <if test="banner4 == null">BANNER4 = NULL,</if>
            <if test="banner5 != null">BANNER5 = #{banner5},</if>
            <if test="banner5 == null">BANNER5 = NULL,</if>
        </set>
        WHERE STORE_NO = #{storeNo}
    </update>


    <delete id="deleteStoreInfo">
        DELETE FROM TBL_STORE
        WHERE STORE_NO = #{storeNo}
    </delete>

    <delete id="deleteStoreBanner">
        DELETE FROM TBL_BANNER
        WHERE STORE_NO = #{storeNo}
    </delete>

    <delete id="deleteStoreOperation">
        DELETE FROM TBL_OPERATION
        WHERE STORE_NO = #{storeNo}
    </delete>

    <delete id="deleteStoreKeyword">
        DELETE FROM TBL_KEYWORD
        WHERE STORE_NO = #{storeNo}
    </delete>

    <select id="lastStoreNo">
        SELECT
            MAX(STORE_NO)
        FROM TBL_STORE
    </select>

    <insert id="insertOperationTime" parameterType="com.ohgiraffers.ukki.admin.store.model.dto.OperationDTO">
        INSERT INTO TBL_OPERATION VALUES (#{storeNo}, #{monday}, #{tuesday}, #{wednesday}, #{thursday}, #{friday}, #{saturday}, #{sunday}, #{breakTime})
    </insert>

    <insert id="insertKeyword" parameterType="com.ohgiraffers.ukki.admin.store.model.dto.KeywordDTO">
        INSERT INTO TBL_KEYWORD VALUES (#{storeNo},#{keyword1}, #{keyword2}, #{keyword3}, #{keyword4}, #{keyword5}, #{keyword6})
    </insert>

    <insert id="insertBanner" parameterType="com.ohgiraffers.ukki.admin.store.model.dto.BannerDTO">
        INSERT INTO TBL_BANNER VALUES (#{storeNo}, #{banner1}, #{banner2}, #{banner3}, #{banner4}, #{banner5}, 'zzzzz')
    </insert>

    <insert id="insertStoreUser" parameterType="com.ohgiraffers.ukki.admin.store.model.dto.AdminStoreUserDTO">
        INSERT INTO TBL_USER VALUES (0, #{userId}, #{userPassword}, #{email}, #{userName}, LOAD_FILE('C:\ukki\front\src\images\profile.png'), 'STORE', null)
    </insert>

    <select id="searchCurrentStoreUser">
        SELECT
            USER_NO
        FROM TBL_USER
        WHERE USER_ID = #{userId} AND USER_ROLE != 'ADMIN'
    </select>

    <insert id="insertStore" parameterType="com.ohgiraffers.ukki.admin.store.model.dto.AdminStoreInfoDTO">
        INSERT INTO TBL_STORE (
        store_no,
        store_name,
        store_des,
        store_address,
        latitude,
        longitude,
        store_profile,
        store_menu,
        store_category_no,
        user_no,
        pos_number,
        store_regist_date
        ) VALUES (
        #{storeNo},
        #{storeName},
        #{storeDes},
        #{storeAddress},
        #{latitude},
        #{longitude},
        #{storeProfile},
        #{storeMenu},
        #{storeCategoryNo},
        #{userNo},
        #{posNumber},
        #{storeRegistDate}
        );
    </insert>

    <select id="getReviewImgStoreNo">
        SELECT
            REVIEW_IMG
        FROM TBL_REVIEW
        WHERE STORE_NO = #{storeNo}
    </select>

    <delete id="deleteReviewWithStore">
        DELETE FROM TBL_REVIEW
        WHERE STORE_NO = #{storeNo}
    </delete>
</mapper>