<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.ukki.auth.model.dao.AuthMapper">
    <select id="confirmUserId" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM TBL_USER
        WHERE USER_ID = #{ userId }
    </select>

    <select id="getUserByUserId" parameterType="String" resultType="com.ohgiraffers.ukki.auth.model.dto.AuthDTO">
<!--   AS 사용해서 매칭 X     -->
        SELECT
        USER_NO AS userNo,
        USER_ID AS userId,
        USER_PWD AS userPass,
        USER_ROLE AS userRole
        FROM TBL_USER
        WHERE user_id = #{userId}
    </select>

    <select id="findUserRoleAndUserNoById" parameterType="String" resultType="com.ohgiraffers.ukki.auth.model.dto.ForJwtDTO">
        <!--   AS 사용해서 매칭 X     -->
        SELECT
        USER_NO AS userNo,
        USER_ROLE AS userRole
        FROM TBL_USER
        WHERE USER_ID = #{userId}
    </select>

    <select id="findUserById" resultType="com.ohgiraffers.ukki.auth.model.dto.AuthDTO">
        SELECT
        USER_NO AS userNo,
        USER_ID AS userId,
        EMAIL,
        USER_NAME AS userName,
        USER_PROFILE AS userProfile,
        USER_ROLE AS userRole,
        NOSHOW
        FROM TBL_USER
        WHERE USER_ID = #{userId}
    </select>
</mapper>