<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.ukki.user.model.dao.EmailMapper">
    <select id="countByEmail" parameterType="String" resultType="int">
        SELECT IFNULL(COUNT(*), 0)
        FROM TBL_USER
        WHERE EMAIL = #{ email }
    </select>

    <select id="getNoshowCountByEmail" parameterType="String" resultType="int">
        SELECT IFNULL(SUM(NOSHOW), 0)
        FROM TBL_NOSHOW
        WHERE EMAIL = #{ email }
    </select>
</mapper>