<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.ukki.user.model.dao.MypageMapper">
<!--    닉네임 가져오기     -->
    <select id="findUserInfoByUserId" resultType="com.ohgiraffers.ukki.user.model.dto.MypageDTO">
        SELECT
        u.USER_ID AS userId,
        u.USER_NO AS userNo,
        u.USER_NAME AS nickname,
        u.USER_PROFILE AS profileImage,
        r.RES_COUNT AS reservationCount,
        r.REVIEW_COUNT AS reviewCount,
        r.RANDOM_COUNT AS randomCount
        FROM TBL_USER u
        LEFT JOIN TBL_USER_ACT_INFO r ON u.USER_NO = r.USER_NO
        WHERE u.USER_ID = #{userId}
    </select>

<!--  도전 현황 가져오기  -->



</mapper>