<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.ukki.user.model.dao.MypageMapper">
<!--    닉네임 가져오기     -->
    <select id="findUserInfoByUserId" resultType="com.ohgiraffers.ukki.user.model.dto.MypageDTO">
        SELECT
        u.USER_ID AS userId,
        u.USER_NO AS userNo,
        u.USER_NAME AS nickname,
        u.USER_PROFILE AS profileImage,
        r.RES_COUNT AS reservationCount,
        r.REVIEW_COUNT AS reviewCount,
        r.RANDOM_COUNT AS randomCount
        FROM TBL_USER u
        LEFT JOIN TBL_USER_ACT_INFO r ON u.USER_NO = r.USER_NO
        WHERE u.USER_ID = #{userId}
    </select>

    <select id="findUserReservationByUserId" resultType="com.ohgiraffers.ukki.user.model.dto.MypageReservationDTO">
        SELECT
        u.USER_ID,
        s.STORE_NAME,
        r.RES_DATE AS date,
        r.RES_TIME AS time,
        r.QR
        FROM
        TBL_RESERVATION r
        LEFT JOIN
        TBL_USER u ON r.USER_NO = u.USER_NO  -- USER_NO와 USER_NO를 비교
        LEFT JOIN
        TBL_STORE s ON r.STORE_NO = s.STORE_NO
        WHERE
        u.USER_ID = #{userId}

        UNION

        SELECT
        u.USER_ID,
        s.STORE_NAME,
        er.RES_DATE AS date,
        er.RES_TIME AS time,
        er.QR
        FROM
        TBL_END_RES er
        LEFT JOIN
        TBL_USER u ON er.USER_NO = u.USER_NO  -- USER_NO와 USER_NO를 비교
        LEFT JOIN
        TBL_STORE s ON er.STORE_NO = s.STORE_NO
        WHERE
        u.USER_ID = #{userId}
    </select>




</mapper>