<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.ukki.admin.reservation.model.dao.AdminReservationMapper">
    <resultMap id="reservation" type="com.ohgiraffers.ukki.admin.reservation.model.dto.AdminReservationDTO">
    </resultMap>
    <resultMap id="week" type="com.ohgiraffers.ukki.admin.reservation.model.dto.ThisWeekReservationDTO">
        <result property="mon" column="mon"/>
        <result property="tue" column="tue"/>
        <result property="wed" column="wed"/>
        <result property="thu" column="thu"/>
        <result property="fri" column="fri"/>
        <result property="sat" column="sat"/>
        <result property="sun" column="sun"/>
    </resultMap>

    <resultMap id="noShow" type="com.ohgiraffers.ukki.admin.reservation.model.dto.MonthlyNoShowDTO">
        <result property="monthlyReservation" column="MONTH"/>
        <result property="monthlyNoShow" column="NOSHOW"/>
    </resultMap>

    <resultMap id="resList" type="com.ohgiraffers.ukki.admin.reservation.model.dto.ReservationListDTO">
        <result property="resNo" column="RES_NO"/>
        <result property="resDate" column="RES_DATE"/>
        <result property="userId" column="USER_ID"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="resTime" column="RES_TIME"/>
        <result property="qrConfirm" column="QR_CONFIRM"/>
        <result property="isToday" column="isToday"/>
    </resultMap>

    <resultMap id="userActRes" type="com.ohgiraffers.ukki.admin.user.model.dto.AdminUserResDTO">
        <id property="userNo" column="USER_NO"/>
        <result property="totalRes" column="TOTAL_RES"/>
        <result property="totalRandomRes" column="TOTAL_RANDOM"/>
    </resultMap>

    <resultMap id="resInfo" type="com.ohgiraffers.ukki.admin.reservation.model.dto.ReservationInfoDTO">
        <result property="resNo" column="RES_NO"/>
        <result property="resDate" column="RES_DATE"/>
        <result property="userNo" column="USER_NO"/>
        <result property="userId" column="USER_ID"/>
        <result property="storeNo" column="STORE_NO"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="resTime" column="RES_TIME"/>
        <result property="qr" column="QR"/>
        <result property="qrConfirm" column="QR_CONFIRM"/>
    </resultMap>

    <select id="weeklyReservation" resultMap="week">

        SELECT
        SUM(CASE WHEN DATE(res_date) = this_week_monday THEN 1 ELSE 0 END) AS mon,
        SUM(CASE WHEN DATE(res_date) = DATE_ADD(this_week_monday, INTERVAL 1 DAY) THEN 1 ELSE 0 END) AS tue,
        SUM(CASE WHEN DATE(res_date) = DATE_ADD(this_week_monday, INTERVAL 2 DAY) THEN 1 ELSE 0 END) AS wed,
        SUM(CASE WHEN DATE(res_date) = DATE_ADD(this_week_monday, INTERVAL 3 DAY) THEN 1 ELSE 0 END) AS thu,
        SUM(CASE WHEN DATE(res_date) = DATE_ADD(this_week_monday, INTERVAL 4 DAY) THEN 1 ELSE 0 END) AS fri,
        SUM(CASE WHEN DATE(res_date) = DATE_ADD(this_week_monday, INTERVAL 5 DAY) THEN 1 ELSE 0 END) AS sat,
        SUM(CASE WHEN DATE(res_date) = DATE_ADD(this_week_monday, INTERVAL 6 DAY) THEN 1 ELSE 0 END) AS sun
        FROM
        tbl_end_res,
        (SELECT DATE_SUB(DATE(NOW()), INTERVAL (DAYOFWEEK(NOW()) - 2) DAY) AS this_week_monday) AS week_start
        WHERE
        DATE(res_date) BETWEEN this_week_monday AND DATE_ADD(this_week_monday, INTERVAL 6 DAY);

    </select>

    <select id="todayReservation">
        SELECT
        COUNT(*)
        FROM TBL_RESERVATION
        WHERE RES_DATE = DATE_FORMAT(NOW(), '%Y-%m-%d');
    </select>

    <select id="monthlyNoShowReservation" resultMap="noShow">
        select
        count(*) AS 'MONTH',
        sum(case when QR_CONFIRM = 0 then 1 else 0 end) AS 'NOSHOW'
        from tbl_end_res
        where date_format(res_date, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-%m');
    </select>

    <select id="searchRes" resultMap="resList">
        SELECT
        a.RES_NO,
        a.RES_DATE,
        b.USER_ID,
        c.STORE_NAME,
        a.RES_TIME,
        a.QR_CONFIRM,
        'Y' AS isToday
        FROM TBL_RESERVATION a
        LEFT JOIN TBL_USER b ON a.USER_NO = b.USER_NO
        LEFT JOIN TBL_STORE c ON a.STORE_NO = c.STORE_NO
        <where>
            <if test="category != null and word != null">
                <choose>
                    <when test='category == "USER_ID"'>
                        b.#{category} LIKE CONCAT('%', #{word}, '%')
                    </when>
                    <when test='category == "STORE_NAME"'>
                        c.#{category} LIKE CONCAT('%', #{word}, '%')
                    </when>
                    <when test='word == "예약대기중"'>

                    </when>
                    <otherwise>
                        a.#{category} LIKE CONCAT('%', #{word}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="category == null and word != null">
            <choose>
                <when test="word.matches('^\\d{4}-\\d{2}-\\d{2}$')">
                    a.RES_DATE = #{word}
                </when>
                <when test="word.matches('^\\d{4}-\\d{2}-\\d{1}$')">
                    a.RES_DATE LIKE CONCAT (#{word}, '%')
                </when>
                <otherwise>
                    CONCAT(IFNULL(a.RES_NO, ''), ' ', IFNULL(a.RES_DATE, ''), ' ', IFNULL(b.USER_ID, ''), ' ', IFNULL(c.STORE_NAME, ''), ' ', IFNULL(a.RES_TIME, ''), ' ', IFNULL(a.QR_CONFIRM, ''))
                    LIKE CONCAT('%', #{word},'%')
                </otherwise>
            </choose>
            </if>
        </where>
        ORDER BY a.RES_NO DESC;
    </select>


    <select id="searchEndRes" resultMap="resList">
        SELECT
        a.RES_NO,
        a.RES_DATE,
        b.USER_ID,
        c.STORE_NAME,
        a.RES_TIME,
        a.QR_CONFIRM,
        'N' AS isToday
        FROM TBL_END_RES a
        LEFT JOIN TBL_USER b ON a.USER_NO = b.USER_NO
        LEFT JOIN TBL_STORE c ON a.STORE_NO = c.STORE_NO
        <where>
            <if test="category != null and word != null">
                <choose>
                    <when test='category == "USER_ID"'>
                        b.${category} LIKE CONCAT('%', #{word}, '%')
                    </when>
                    <when test='category == "STORE_NAME"'>
                        c.${category} LIKE CONCAT('%', #{word}, '%')
                    </when>
                    <when test='word == "예약확인"'>
                        ${category} = TRUE
                    </when>
                    <when test='word == "노쇼"'>
                        ${category} = FALSE
                    </when>
                    <otherwise>
                        a.${category} LIKE CONCAT('%', #{word}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="category == null and word != null">
                <choose>
                    <when test="word.matches('^\\d{4}-\\d{2}-\\d{2}$')">
                        a.RES_DATE = #{word}
                    </when>
                    <when test="word.matches('^\\d{4}-\\d{2}-\\d{1}$')">
                        a.RES_DATE LIKE CONCAT (#{word}, '%')
                    </when>
                    <when test='word == "예약확인"'>
                        QR_CONFIRM = TRUE
                    </when>
                    <when test='word == "노쇼"'>
                        QR_CONFIRM = FALSE
                    </when>
                    <otherwise>
                        CONCAT(IFNULL(a.RES_NO, ''), ' ', IFNULL(a.RES_DATE, ''), ' ', IFNULL(b.USER_ID, ''), ' ', IFNULL(c.STORE_NAME, ''), ' ', IFNULL(a.RES_TIME, ''), ' ', IFNULL(a.QR_CONFIRM, ''))
                        LIKE CONCAT('%', #{word},'%')
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY a.RES_NO DESC;
    </select>

    <select id="totalTodayReservation">
        SELECT COUNT(*) FROM TBL_RESERVATION
    </select>

    <select id="totalEndReservation">
        SELECT COUNT(*) FROM TBL_END_RES
    </select>

    <select id="userResList" resultMap="userActRes">
        SELECT
        USER_NO,
        SUM(CASE WHEN QR_CONFIRM = 1 THEN 1 ELSE 0 END) AS 'TOTAL_RES',
        SUM(CASE WHEN IS_RANDOM = 1 THEN 1 ELSE 0 END) AS 'TOTAL_RANDOM'
        FROM TBL_END_RES
        GROUP BY USER_NO
        ORDER BY USER_NO;
    </select>

    <select id="todayResInfo" resultMap="resInfo">
        SELECT
        a.RES_NO,
        a.RES_DATE,
        a.USER_NO,
        b.USER_ID,
        a.STORE_NO,
        c.STORE_NAME,
        a.RES_TIME,
        a.QR_CONFIRM
        FROM TBL_RESERVATION a
        LEFT JOIN TBL_USER b ON a.USER_NO = b.USER_NO
        LEFT JOIN TBL_STORE c ON a.STORE_NO = c.STORE_NO
        WHERE RES_NO = #{resNo}
    </select>

    <select id="endResInfo" resultMap="resInfo">
        SELECT
        a.RES_NO,
        a.RES_DATE,
        a.USER_NO,
        b.USER_ID,
        a.STORE_NO,
        c.STORE_NAME,
        a.RES_TIME,
        a.QR_CONFIRM
        FROM TBL_END_RES a
        LEFT JOIN TBL_USER b ON a.USER_NO = b.USER_NO
        LEFT JOIN TBL_STORE c ON a.STORE_NO = c.STORE_NO
        WHERE RES_NO = #{resNo}
    </select>

    <delete id="deleteTodayRes">
        DELETE FROM TBL_RESERVATION WHERE RES_NO = #{resNo}
    </delete>

    <delete id="deleteEndRes">
        DELETE FROM TBL_END_RES WHERE RES_NO = #{resNo}
    </delete>
</mapper>